/basic/nbproject/private/
/basic/basic-war/nbproject/private/
/basic/basic-ejb/nbproject/private/
/basic/basic-ejb/build/
/basic/basic-ejb/dist/
/basic/basic-war/build/
/basic/build/
/basic/basic-war/dist/
/basic/dist/
/advanced/nbproject/private/
/advanced/advanced-war/nbproject/private/
/advanced/advanced-ejb/nbproject/private/
/advanced/build/
/advanced/dist/
/advanced/advanced-war/build/
/advanced/advanced-war/dist/
/advanced/advanced-ejb/dist/
/advanced/advanced-ejb/build/