/basic/nbproject/private/
/basic/basic-war/nbproject/private/
/basic/basic-ejb/nbproject/private/
/basic/basic-ejb/build/
/basic/basic-ejb/dist/
/basic/basic-war/build/
/basic/build/
/basic/basic-war/dist/
/basic/dist/